.contact {
  display: flex;
  align-items: center;
}
.btn {
    font-size: 15px;
    text-align: center;
    width: 90px;
    height: 30px;
    margin-left: 20px;
  }
  
  .contactInfo {
    min-width: 280px;
  }
  .contactsData {
    font-size: 20px;
  }